<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
<script src="/assets/js/sweetalert.min.js"></script>
<script src="/assets/js/script.js"></script>
<script>
    window.onload = () => {
        checkCookies();
    }
</script>
</body>

</html>