.text-primary-600 {
    --tw-text-opacity: 1;
    color: rgb(37 99 235 / var(--tw-text-opacity)) !important;
}

.h-not-screen{
    height: calc(100vh - 90px);
}

.bg-primary-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(37 99 235 / var(--tw-bg-opacity)) !important;
}

.swal2-popup {
    flex-direction: column;
    justify-content: center;
    padding: 20px !important;
    box-sizing: border-box
}

.dark .swal2-popup {
    background: #0e1726
}

.dark .swal2-popup .swal2-title {
    color: #888ea8
}

.swal2-popup .swal2-title {
    display: block;
    margin: 0 !important;
    width: 100%;
    color: #3b3f5c;
    font-size: 24px
}

:is([dir=ltr] .swal2-popup .swal2-title) {
    padding-right: 2.5rem !important
}

:is([dir=rtl] .swal2-popup .swal2-title) {
    padding-left: 2.5rem !important
}

.swal2-popup .swal2-styled {
    box-shadow: 0 5px 20px 0 #0000001a !important;
    letter-spacing: 1px;
    font-size: 14px !important;
    line-height: 20px !important;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    margin: 0 5px;
    padding: 8px 20px;
    border-radius: 6px
}

.swal2-popup .swal2-styled.swal2-cancel {
    background-color: #fff !important;
    color: #4361ee;
    border: 1px solid #e8e8e8;
    box-shadow: none;
    padding: 7px 20px
}

.dark .swal2-popup .swal2-styled.swal2-cancel {
    background-color: #3b3f5c !important;
    color: #e0e6ed;
    border-color: #3b3f5c
}

.swal2-popup .swal2-styled.swal2-confirm {
    background-color: #e92b2b
}

.error-elem {
    color: red;
    font-size: 16px;
    font-weight: 600;
    margin-top: 16px;
}

.swal2-popup .swal2-styled.swal2-confirm:focus {
    box-shadow: none !important
}

.swal2-popup .swal2-html-container {
    /* margin: 0 !important; */
    color: #4361ee;
    font-weight: 600;
    margin-top: 20px;
}

:is([dir=ltr] .swal2-popup .swal2-html-container) {
    padding-right: 2.5rem !important
}

:is([dir=rtl] .swal2-popup .swal2-html-container) {
    padding-left: 2.5rem !important
}

.swal2-popup .swal2-close {
    position: absolute;
    top: 16px;
    transition: color .1s ease-out;
    font-family: serif;
    right: 10px;
    top: 19px;
}

/* :is([dir=ltr] .swal2-popup .swal2-close) {
    right: 1rem
}

:is([dir=rtl] .swal2-popup .swal2-close) {
    left: 1rem
} */

.dark .swal2-popup .swal2-close {
    color: #888ea8
}

.swal2-popup.swal2-toast {
    flex-direction: row;
    align-items: center;
    width: auto !important;
    box-shadow: 0 0 .625em #d9d9d9;
    padding: 2em;
    overflow-y: hidden;
    display: flex !important
}

.swal2-popup.swal2-toast.swal2-show {
    animation: showSweetToast .5s
}

.swal2-popup pre {
    color: #009688
}

.swal2-icon {
    position: relative;
    box-sizing: initial;
    justify-content: center;
    width: 5em;
    height: 5em;
    margin: 1.25em auto 1.875em;
    border-radius: 50%;
    border: .25em solid #000;
    font-family: inherit;
    line-height: 5em;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.swal2-icon:not(.swal2-error):not(.swal2-success) {
    width: 2em !important;
    line-height: 119px !important;
    height: 2em !important;
    margin: .25em auto .875em !important
}

.swal2-icon.swal2-error {
    border: 5px solid #f1f2f3 !important;
    box-shadow: 0 3px 25px 0 #716aca33
}

.swal2-icon.swal2-warning {
    color: #fb4 !important
}

.swal2-icon.swal2-info,
.swal2-icon.swal2-warning {
    border: 5px solid #f1f2f3 !important;
    box-shadow: 0 3px 25px 0 #716aca33;
    font-size: 60px;
    line-height: 80px;
    text-align: center
}

.swal2-icon.swal2-info {
    color: #4361ee !important
}

.swal2-icon.swal2-question {
    color: #805dca !important;
    border-style: solid;
    border-width: 4px !important;
    border-color: #0000 !important;
    box-shadow: 0 3px 25px 0 #716aca33;
    font-size: 60px;
    line-height: 80px;
    text-align: center
}

.dark .swal2-icon.swal2-error,
.dark .swal2-icon.swal2-info,
.dark .swal2-icon.swal2-question,
.dark .swal2-icon.swal2-warning {
    border-color: #888ea8 !important;
    box-shadow: none !important
}

.swal2-iconswal2-success [class^=swal2-success-line][class$=tip] {
    top: 2.875em;
    left: .875em;
    width: 1.5625em;
    transform: rotate(45deg)
}

.swal2-icon.swal2-success swal2-success [class^=swal2-success-line][class$=long] {
    top: 2.375em;
    right: .5em;
    width: 2.9375em;
    transform: rotate(-45deg)
}

.swal2-icon.swal2-success .swal2-success-fix {
    position: absolute;
    top: .5em;
    left: 1.625em;
    width: .4375em;
    height: 5.625em;
    transform: rotate(-45deg);
    z-index: 1
}

.swal2-icon.swal2-success .swal2-success-ring {
    position: absolute;
    top: -.25em;
    left: -.25em;
    width: 100%;
    height: 100%;
    border: .25em solid #a5dc864d;
    border-radius: 50%;
    z-index: 2;
    box-sizing: initial
}

.swal2-icon.swal2-success [class^=swal2-success-circular-line][class$=right] {
    top: -.6875em;
    left: 1.875em;
    transform: rotate(-45deg);
    transform-origin: 0 3.75em;
    border-radius: 0 7.5em 7.5em 0
}

.swal2-progress-steps .swal2-progress-step.swal2-active-progress-step {
    background: #25d5e4 !important
}

.swal2-progress-steps .swal2-progress-step.swal2-active-progress-step~.swal2-progress-step {
    background: #ebedf2 !important
}

.dark .swal2-progress-steps .swal2-progress-step.swal2-active-progress-step~.swal2-progress-step {
    background: #3b3f5c !important;
    color: #888ea8 !important
}

.dark .swal2-progress-steps .swal2-progress-step {
    color: #e0e6ed
}

.swal2-icon-content {
    font-size: 5.75rem !important
}

.swal2-show {
    animation: swal2-show .3s
}

.swal2-modal.background-modal .swal2-title {
    color: #fff !important
}

.dark .swal2-input {
    background-color: #1b2e4b;
    border-color: #253b5c;
    color: #888ea8
}

.dark .swal2-footer {
    border-color: #888ea8
}

.swal2-image {
    margin-bottom: 32px !important
}

.sweet-alerts.swal2-popup .swal2-html-container {
    margin-top: 1rem !important;
    padding-left: 0 !important;
    padding-right: 0 !important
}

:is([dir=ltr] .sweet-alerts.swal2-popup .swal2-title) {
    padding-right: 1.5rem !important
}

:is([dir=rtl] .sweet-alerts.swal2-popup .swal2-title) {
    padding-left: 1.5rem !important
}

.swal2-container .swal2-close {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

.swal2-container .swal2-close:hover {
    --tw-text-opacity: 1;
    color: rgb(234 234 236/var(--tw-text-opacity))
}

.swal2-container .swal2-close:focus {
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.swal2-container .swal2-popup.swal2-toast {
    --tw-bg-opacity: 1;
    background-color: rgb(59 63 92/var(--tw-bg-opacity));
    padding: .625rem 1.25rem
}

.swal2-container .swal2-popup.swal2-toast .swal2-html-container,
.swal2-popup.swal2-toast .swal2-title {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

.swal2-container .swal2-popup.swal2-toast.color-primary {
    --tw-bg-opacity: 1;
    background-color: rgb(67 97 238/var(--tw-bg-opacity))
}

.swal2-container .swal2-popup.swal2-toast.color-secondary {
    --tw-bg-opacity: 1;
    background-color: rgb(128 93 202/var(--tw-bg-opacity))
}

.swal2-container .swal2-popup.swal2-toast.color-warning {
    --tw-bg-opacity: 1;
    background-color: rgb(226 160 63/var(--tw-bg-opacity))
}

.swal2-container .swal2-popup.swal2-toast.color-info {
    --tw-bg-opacity: 1;
    background-color: rgb(33 150 243/var(--tw-bg-opacity))
}

.swal2-container .swal2-popup.swal2-toast.color-danger {
    --tw-bg-opacity: 1;
    background-color: rgb(231 81 90/var(--tw-bg-opacity))
}

.swal2-container .swal2-popup.swal2-toast.color-success {
    --tw-bg-opacity: 1;
    background-color: rgb(0 171 85/var(--tw-bg-opacity))
}

.ring-blue-600 {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(37 99 235/var(--tw-ring-opacity));
}